.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 79px;
  padding: 0 82px;
  border-bottom: 1px solid #b0b2b3;
  max-width: 1440px;
  margin: 0 auto;
}

.mainTitle {
  flex: 0 0 auto;
  font: 600 16px Inter;
  color: black;
}

.navigationBar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

.navigationLink {
  flex: 0 0 auto;
  font: 400 16px Inter;
  color: black;
}
