.mask {
  display: inline-block;
  position: relative;
  width: 4.5rem;
  height: 8rem;
  overflow: hidden;
}

.digit {
  font-size: 8rem;
  position: absolute;
  width: 100%;
  height: 100%;
}

.percentageMask {
  display: inline-block;
  position: relative;
  width: 7rem;
  height: 8rem;
  overflow: hidden;
}

.percentage {
  font-size: 8rem;
  position: absolute;
}

.counterContainer {
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: start;
}
